:root {
    --clr-primary: #27BA71;
    --clr-primary--light: #B1FFD8;
    --clr-primary--light-opac: #b1ffd8f3;
    --clr-primary--dark: #347554;

    --clr-accent: #4A3475;

    --clr-white: #FFFFFF;
    --clr-black: #000000;

    --ff-heading: "IBM Plex Serif", serif;
    --ff-body: "Poppins", sans-serif;

    --fs: 1rem;

    --gap: 2rem;

    --pd-small: 0.75rem;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@mixin hover() {
    transition: 600ms ease-in;

    &:hover {
        filter: brightness(1.25);
        // border-bottom: 2px solid var(--clr-primary--light);

        transition: 600ms ease-out;
    }
}

@mixin fullBorders($value) {
    border-radius: $value;
    border: 2px solid var(--clr-primary--dark);
}

body {
    font-family: var(--ff-body);

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(177, 255, 216, 1) 100%);
}

a {
    color: var(--clr-accent);
}

.title {
    &--h1 {
        font-size: calc(var(--fs) * 1.5);
    }

    &--h2 {
        font-size: calc(var(--fs) * 1.25);
    }

    &--h3 {
        font-size: calc(var(--fs) * 1.125);
    }
}

.ql-editor {
    padding: 0;
}

.button {


    &__post {
        display: block;
        color: var(--clr-white);
        font-size: var(--fs);
        background-color: var(--clr-accent);
        text-align: center;

        padding: 1em 2em;

        text-decoration: none;

        @include hover();
    }

    &--margin {
        margin: var(--pd-small) 0;
    }
}

.container {
    width: 94lvw;
    max-width: 1200px;
    margin-inline: auto;
}

.logo {
    text-transform: uppercase;
    width: fit-content;

    &>a {
        text-decoration: none;
        color: var(--clr-black);
    }

    &__main {
        font-size: 2.5rem;
        line-height: 0.75em;
    }

    &__sub {
        font-size: 1.25rem;
        line-height: 0.75em;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        & span {
            font-weight: 700;
        }
    }

    @media(min-width: 799px) {
        &__main {
            font-size: 3rem;
        }

        &__sub {
            font-size: 1.75rem;
        }
    }
}

.header,
.footer {
    background-color: var(--clr-primary);
    padding: 2rem 0;
}

.header {
    border-bottom: 2px solid var(--clr-primary--dark);
}

.footer {
    border-top: 2px solid var(--clr-primary--dark);

    & ul {
        list-style: none;
        padding: 0;

        & a {
            text-decoration: none;
        }

        & li:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }

    & .text {
        padding-top: 1rem;
        max-width: 70%;
        margin-inline: auto;
    }

    & .logo {
        margin-inline: auto;
    }

    & .container {
        text-align: center;

        &>div:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    & .socials {
        display: flex;
        align-items: center;
        justify-content: center;

        & i {
            color: var(--clr-accent);
            font-size: 3rem;
            line-height: 0.8;

            cursor: pointer;

            &:hover {
                filter: brightness(1.25);
            }
        }

        & i:not(:last-child) {
            margin-right: 1rem;
        }
    }


    @media(min-width: 799px) {

        & .logo,
        & .text {
            margin: 0;
        }

        & .container {
            display: flex;
            justify-content: space-between;

            text-align: left;

            & div {
                max-width: 300px;
            }
        }

        & .socials {
            align-items: end;
            justify-content: end;
        }
    }
}

.nav {
    & ul {
        display: none;
    }

    @media(min-width: 799px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & ul {
            display: flex;
            align-items: center;

            list-style: none;

            & li {
                padding: 0;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            & a {
                text-decoration: none;
            }

            & .middot {
                font-size: 2rem;
            }

            & .register {
                background-color: var(--clr-accent);
                padding: 0.5rem 0.75rem;
                cursor: pointer;

                @include hover();

                & a {
                    color: var(--clr-white);
                    border: none;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }
}

.main {
    min-height: 60lvh;

    // & section {
    //     margin-bottom: var(--pd-small);
    // }
}

.post,
.reply {
    border: 2px solid var(--clr-accent);
    background-color: var(--clr-white);
    margin-bottom: var(--pd-small);


    &:not(:last-child) {
        margin-bottom: var(--pd-small);
    }

    &__wrapper {
        padding: var(--pd-small);
    }

    &__breadcrum {
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: var(--clr-white);
        background-color: var(--clr-primary--dark);
        border-bottom: 1px solid var(--clr-white);

        padding: var(--pd-small);

        & .breadcrum {
            &>a {
                color: var(--clr-white);
                text-decoration: none;

                border-bottom: 1px solid var(--clr-white);
            }

            & a:not(:first-child)::before {
                content: "/";
                display: inline-block;

                margin-right: 4px;
            }
        }
    }

    &__name {
        display: block;
        background-color: var(--clr-primary);
        // border-bottom: 2px solid var(--clr-accent);
        color: var(--clr-white);
        text-decoration: none;

        padding: var(--pd-small);

        @include hover();
    }

    & .author {
        text-align: left;
        font-size: calc(var(--fs) * 1);
        background-color: var(--clr-white);
        padding-top: calc(var(--pd-small)*0.75);
        margin-top: var(--pd-small);
        margin-left: auto;

        border-top: 1px solid var(--clr-primary);

        width: fit-content;

        display: flex;
        align-items: center;

        &>i {
            font-size: calc(var(--fs) * 1.25);
            margin-right: 6px;
        }

        &>span {
            margin-left: 6px;
        }
    }

    & .view-reply {
        display: flex;
        align-items: center;
        justify-content: end;


        color: var(--clr-white);
        background-color: var(--clr-primary--dark);
        font-size: var(--fs);
        padding: 3px var(--pd-small);

        cursor: pointer;

        & span {
            padding-right: 5px;
        }
    }

    & .sub-reply {
        display: none;
        padding-bottom: 0;

        &__post {
            position: relative;
            padding-bottom: var(--pd-small);
            padding-left: var(--pd-small);
            border-left: 2px solid var(--clr-accent);
            margin-left: var(--pd-small);

            &:not(:last-child) {
                margin-bottom: var(--pd-small);
                border-bottom: 2px solid var(--clr-accent);
            }

            // &::before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 1px;
            //     height: 100%;
            //     margin: 0 var(--pd-small);
            //     background-color: black;
            // }
        }

        // &>.ql-editor {
        //     border: 2px solid var(--clr-accent);
        //     border-bottom: none;
        //     padding: var(--pd-small);
        // }

        // &>.author {
        //     border: 2px solid var(--clr-accent);
        //     margin-bottom: var(--pd-small);
        // }
    }

}

.widgets {
    & div:not(:last-child) {
        margin-bottom: var(--gap);
    }

    @media(min-width:799px) {
        display: grid;
        gap: var(--gap);
        grid-template-columns: 0.6fr 0.4fr;

        & div:not(:last-child) {
            margin: 0;
        }
    }
}

.landing-image {
    background-image: url("../images/hibernian-stadium1.jpg.png");
    background-position: center;
    min-height: 30lvh;

    & .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.standings {
    height: max-content;
}

.forum {

    & .categories {
        &>div {
            margin-bottom: var(--pd-small);
        }
    }

    & .category {
        border: 2px solid var(--clr-primary--dark);

        &__header {
            display: grid;
            grid-template-columns: 0.1fr 0.9fr;

            color: var(--clr-white);
            font-weight: 500;
            font-size: calc(var(--fs) * 1.25);
            background-color: var(--clr-primary--dark);
            letter-spacing: 1px;
            padding: var(--pd-small);

            border-bottom: 1px solid var(--clr-black);

            & i {
                margin-right: calc(var(--gap) / 2);
                font-size: calc(var(--fs) * 1.5);
            }
        }

        &__option {
            display: grid;
            grid-template-columns: 0.1fr 0.9fr;

            align-items: center;
            padding: var(--pd-small);
            background-color: var(--clr-white);

            & a {
                color: var(--clr-black);
                letter-spacing: 1px;
            }

            &:nth-child(2n) {
                background-color: var(--clr-primary--light);
            }
        }
    }
}

.subcategory,
.thread {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: var(--pd-small) 0;

        & div {
            display: flex;
            align-items: center;
        }

        & h1 {
            display: inline-block;
            font-size: calc(var(--fs) * 1.25);
        }

        & i {
            font-size: calc(var(--fs) * 2);
        }
    }
}

.thread {
    padding-top: var(--gap);
}

// .reply {
//     background-color: var(--clr-primary--light);
//     margin-bottom: var(--pd-small);
//     @include fullBorders(0);

//     &__header {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         padding: var(--pd-small);
//         background-color: var(--clr-primary);

//         & .author {
//             font-size: calc(var(--fs) * 1);
//         }
//     }

//     &__body {
//         padding: var(--pd-small);
//     }

//     &__footer {
//         display: flex;
//         align-items: center;
//         padding-inline: var(--pd-small);
//         padding-bottom: var(--pd-small);

//         & a {
//             margin-right: calc(var(--gap) / 2);
//         }
//     }

//     & .view-reply {
//         cursor: pointer;
//     }


// }

.sub-reply {
    display: none;
    background-color: var(--clr-white);
    padding-top: var(--pd-small);

    &__container {
        display: grid;
        grid-template-columns: 0.1fr 0.9fr;

        &:last-child {
            border-bottom: 1px solid var(--clr-black);
        }
    }
}

.connector {
    background-size: contain;
    margin-left: var(--pd-small);

    display: grid;
    grid-template-rows: auto 100px auto;

    &--straight {
        background-image: url("../images/connectors/straight-connector.svg");
        background-repeat: repeat-y;
    }

    &--single {
        background-image: url("../images/connectors/single-edged-connector.svg");
        background-repeat: no-repeat;
    }

    &--double {
        background-image: url("../images/connectors/double-edged-connector.svg");
        background-repeat: repeat-y;
    }
}

.register {
    & .logo {
        padding: var(--gap);
        margin: var(--gap) auto;

        background-color: var(--clr-primary);

        &__main,
        &__sub {
            color: var(--clr-accent);
        }

        &__main {
            font-size: 4rem;
        }

        &__sub {
            font-size: 2rem;
        }
    }
}

.form {
    &--padding {
        padding: var(--pd-small);
    }

    &__field,
    &__checkbox,
    &__button {
        display: flex;
        margin-bottom: var(--pd-small);
    }

    &__field {
        flex-direction: column;

        & textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 15lvh;
        }
    }

    &__checkbox {
        align-items: center;

        &>input {
            margin-right: var(--pd-small);
        }
    }

    &__buttons {

        padding: var(--pd-small);

        &>a {
            font-size: calc(var(--fs)*1.25);
            display: inline-block;
            background-color: var(--clr-accent);
            color: var(--clr-white);
            padding: 1em;
            cursor: pointer;

            @include hover();
        }
    }

    &__editor {
        &>.ql-editor {
            min-height: 40lvh;
            width: 100%;
            font-size: var(--fs);
            background-color: var(--clr-white);
            padding: var(--pd-small);
            cursor: text;
            white-space: pre-wrap;

            @include fullBorders(0);

        }
    }

    &__button {
        justify-content: end;

        &>button {
            font-size: var(--fs);
            color: var(--clr-white);
            background-color: var(--clr-accent);
            padding: 1em 2em;
            border: none;
            border-radius: 0;

            cursor: pointer;

            @include hover();
        }
    }

    &__input {
        font-size: var(--fs);
        padding: var(--pd-small);
    }


    & .error {
        display: block;
        padding: 0 3px;
        color: var(--clr-white);
        background-color: var(--clr-accent);
    }
}



.status {
    color: var(--clr-white);
    background-color: var(--clr-accent);

    & p {
        padding: var(--padding--small);
        text-align: center;
    }
}

// UPCOMING MATCH
html body {
    & .fs-upcoming-wrapper {
        width: 100%;
        max-width: max-content;
        font-family: var(--ff-body);
        font-size: var(--fs);
        color: var(--clr-primary--dark);
        background: var(--clr-primary--light-opac);
        -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
        margin: calc(var(--gap) * 4) 0;
        padding: var(--gap);

        @include fullBorders(0);
    }

    & .fs-upcoming-wrapper,
    & .fs-upcoming-wrapper * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    & .fs-upcoming-wrapper * {
        line-height: normal;
        font-family: inherit;
    }

    & .fs-embed-icon {
        display: inline;
        width: 12px;
        margin-right: 10px;
        filter: invert(1);
    }

    & .fs-upcoming-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }

    & .fs-upcoming-header h2 {
        font-size: calc(var(--fs)*1.25);
        font-weight: 500;
        letter-spacing: 1px;
        margin: 0 auto 10px;
    }

    & .fs-upcoming-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & .fs-upcoming-header ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: var(--fs);
        margin-bottom: 5px;
        margin-right: calc(var(--gap) * 2);
        color: var(--clr-primary--dark);
    }

    & .fs-upcoming-badges {
        margin-left: auto
    }

    & .fs-upcoming-badges .fs-badge {
        display: inline-block;
        width: 44px;
        height: 44px;
        padding: 5px;
        background: transparent;
        background: #fff;

        @include fullBorders(100px);
    }

    & .fs-upcoming-badges .fs-badge.first {
        margin-right: calc(var(--gap) / 2);
    }

    & .fs-upcoming-badges .fs-badge img {
        width: 100%;
    }

    & .fs-upcoming-link {
        border-top: 1px solid var(--clr-primary);
        margin: 5px 0 0;
        padding-top: 10px;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .fs-upcoming-link #fs-upcoming-league {
        font-size: var(--fs);
        margin-bottom: 5px;
        color: var(--clr-black);
    }

    & .fs-upcoming-link #fs-upcoming-match-name {
        color: var(--clr-accent);
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;

        &:hover {
            border-bottom: 2px solid var(--clr-black);
        }
    }
}

// LEAGUE TABLE
html body {
    & .fs-embed-wrapper {
        width: 100%;
        font-family: var(--ff-body);
        background: var(--clr-white);
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
        overflow: hidden;
        margin: 0;

        @include fullBorders(0);
    }

    & .fs-embed-wrapper * {
        line-height: normal !important;
        font-family: inherit !important;
        float: none !important
    }

    & .fs-standings {
        font-size: var(--fs);
    }

    & .fs-embed-header {
        background: transparent;
        position: relative;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 1px 4px 0 rgba(19, 40, 71, .07), inset 0 -1px 0 0 rgba(58, 94, 141, .16);
        height: 100px;
        display: flex;
        flex-wrap: no-wrap;
        align-items: center
    }

    & .fs-embed-header .fs-header-badge {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid var(--clr-primary--light);
        margin-right: 15px
    }

    & .fs-embed-header .fs-header-badge img {
        width: 80px;
        display: block;
        margin: auto
    }

    & .fs-embed-header .fs-header-title {
        flex: 1;
        max-width: calc(70% - 100px)
    }

    & .fs-embed-header .fs-header-title,
    & .fs-embed-header .fs-header-title * {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .fs-embed-header .fs-header-title .fs-country-flag {
        display: inline;
        width: 20px;
        margin-right: 8px;
    }

    & .fs-embed-header .fs-header-title .fs-strong-title {
        display: block;
        width: 100%;
        font-weight: 700;
        color: var(--clr-accent);
        margin-bottom: 2px;
        text-decoration: none;
        font-size: var(--fs);
    }

    & .fs-embed-header .fs-header-title .fs-medium-title {
        display: inline-block;
        max-width: 100%;
        color: var(--clr-accent);
        font-size: var(--fs);
    }

    & .fs-embed-header & .fs-header-actions {
        text-align: right;
        position: absolute;
        top: 5px;
        right: 10px
    }

    & .fs-embed-header .fs-header-actions .fs-header-actions-label {
        font-size: calc(var(--fs) * 1);
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 4px;
        color: var(--clr-accent);
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation {
        list-style: none;
        padding: 0;
        margin: 0
    }

    & .fs-header-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation a {
        display: inline-block;
        background: var(--clr-primary--light);
        height: 30px;
        width: 30px;
        color: var(--clr-primary--dark);
        border-radius: 100px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        border: 1px solid rgba(35, 101, 179, .14);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .09);
        background-repeat: no-repeat !important;
        background-size: 12px !important;
        background-position: 50% 49% !important;
        cursor: pointer
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation a#fs-table-navigation-previous {
        background-image: url(https://cdn.footystats.org/fonts/font-awesome/solid/left.png)
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation a#fs-table-navigation-previous.fs-nav-disabled {
        background-image: url(https://cdn.footystats.org/fonts/font-awesome/solid/left-disabled.png)
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation a#fs-table-navigation-next {
        background-image: url(https://cdn.footystats.org/fonts/font-awesome/solid/right.png)
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation a#fs-table-navigation-next.fs-nav-disabled {
        background-image: url(https://cdn.footystats.org/fonts/font-awesome/solid/right-disabled.png)
    }

    & .fs-embed-header .fs-header-actions .fs-header-table-navigation a.fs-nav-disabled {
        background: #f1f1f1;
        border: 1px solid #f1f1f1;
        box-shadow: none;
        color: #d3d3d3;
        pointer-events: none
    }

    & .fs-embed-body {
        max-height: max-content;
        overflow-y: scroll;
        padding: 10px;
        display: block
    }

    & .fs-embed-table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        border: 0 !important
    }

    & .fs-embed-table thead {
        border: 0 !important;
        font-size: var(--fs);
        color: var(--clr-primary--dark);
        font-weight: 500;
    }

    & .fs-embed-table td {
        border: 0 !important;
        font-size: var(--fs);
        padding: 5px 0 !important;
        vertical-align: text-bottom;
    }


    & .fs-embed-table tbody,
    & .fs-embed-table tbody tr {
        &:not(:last-child) {
            border-bottom: 1px solid black !important;
        }
    }

    & .fs-embed-table tbody tr:last-child {
        border-bottom: 0 !important
    }

    & .fs-table-row {
        border-bottom: 0;
        vertical-align: text-bottom !important;
    }

    & .fs-table-item {
        min-width: 20px !important;
        text-align: left !important;
        border: 0 !important
    }

    & .fs-table-item.link {
        color: var(--clr-accent);
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        max-width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: text-bottom !important;
    }

    & .fs-table-item.rank {
        color: var(--clr-black);
        min-width: auto;
        font-size: var(--fs);
        text-align: center;
        padding: 0 10px 0 0 !important;
        width: 20px;
    }

    & .fs-table-item.team {
        font-size: var(--fs);
        width: 50%;
    }

    & .fs-table-item.fs-align-center {
        text-align: center;
    }
}

#tooltip-controls,
#sidebar-controls {
    text-align: center;
}